/*The content below will be on all pages i.e. nav, footer, etc.*/

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(../images/indexbackground.jpg);
  font-family: "Lato";
}

h1{
  text-align: center;
  font-size: 9vw;
  padding-top: 50px;
}

nav{
  padding: 10px 10px;
  position: relative;
  text-align: right;
}

nav ul{
  text-align: right;
  list-style-type: none;
}

nav li{
  display: inline-block;
  padding-left: 20px;
}

nav a{
  color: rgb(148, 14, 115);
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline wavy rgb(153, 0, 115);
}

nav .current{
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(173, 173, 173);
}

#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
}

#skip a:focus {
  left: 0;
  top: 0;
}

.Lauren{
  text-align: left;
  margin-top: -100px;
  padding-left: 20px;
}


footer{
  position: relative;
  bottom: 0;
  grid-column: 1/2;
  grid-row: -1/-1;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 10px;
  color: #FFFFFF;
  letter-spacing: .2em;
  background-color: #000000;
  text-shadow: rgb(247, 18, 189);
}

footer p{
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: center;
  font-size: 10vw;
}

#linkedin{
  font-size: 4vw;
  text-decoration: none;
  color: white; 
  text-shadow:2px 2px rgb(247, 18, 189);
}

#linkedin:hover{
  color: rgb(247, 18, 189);
  text-shadow: 2px 2px #FFFFFF;
}

#facebook{
  font-size: 4vw;
  text-decoration: none;
  color: white; 
  text-shadow: 2px 2px rgb(247, 18, 189);
}

#facebook:hover{
  color: rgb(247, 18, 189);
  text-shadow: 2px 2px #FFFFFF;
}

#resume{
  font-size: 4vw;
  text-decoration: none;
  color: white; 
  text-shadow: 2px 2px rgb(247, 18, 189);
}

#resume:hover{
  color: rgb(247, 18, 189);
  text-shadow: 2px 2px #FFFFFF;
}

/* index/about page section */
.container-index{
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  width: 100%;
  justify-items: center;
  align-items: center;
}



#main{
  grid-column: 1/-1;
  grid-row: 1/span 1;
  margin-top: 85px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/bighouse.jpg);
  color:  rgb(247, 18, 189);
  text-shadow: 3px 3px #FFFFFF;
  height: 175px;
  width: 100%;
 
}

#main p{
  margin: auto;
  width: 95%;
  text-align: center;
}

.selfie img{
  max-width: 400px;
  max-height: 400px;
  align-items: center;
  border: 3px solid black;
}

.selfie img:hover{
  border: 3px solid rgb(247, 18, 189);
}



.info p{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}



/*recipes section*/
.container-recipes{
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto 25px;
  grid-template-columns: 100%;
  justify-items: center;
  justify-content: space-around;
}

#main-recipes{
  grid-row: 2/3;
  margin-top: 85px;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../images/cupcake.jpg);
  color: rgb(247, 18, 189);
  text-shadow: 2px 2px #000000;
  height: 150px;
  width: 100%;

}
#main-recipes p{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}



.brussel-sprouts{
  color: rgb(247, 18, 189);
  grid-row: 3/4;
  margin-bottom: auto;
  text-align: center;
}
.brussel-sprouts-image{
  margin-left: auto;
  margin-right: auto;
  grid-row: 4/5;
  width: 85%;
  text-align: center;
}
.brussel-sprouts-image img{
  max-width: 90%;
  max-height: 400px;
  align-items: center;
  border: 3px solid black;
}
.brussel-sprouts-image img:hover{
  border: 3px solid rgb(247, 18, 189);
}



.potatoes{
  color: rgb(247, 18, 189);
  grid-row: 5/6;
  margin-bottom: auto;
}
.potatoes-image{
  margin-left: auto;
  margin-right: auto;
  grid-row: 6/7;
  width: 85%;
  text-align: center;
}
.potatoes-image img{
  max-width: 90%;
  max-height: 400px;
  align-items: center;
  border: 3px solid black;
}
.potatoes-image img:hover{
  border: 3px solid rgb(247, 18, 189);
}


.eggplant{
  color: rgb(247, 18, 189);
  grid-row: 7/8;
  margin-bottom: auto;
}
.eggplant-image{
  margin-left: auto;
  margin-right: auto;
  grid-row: 8/9;
  width: 85%;
  text-align: center;
}
.eggplant-image img{
  max-width: 90%;
  max-height: 400px;
  align-items: center;
  border: 3px solid black;
}
.eggplant-image img:hover{
  border: 3px solid rgb(247, 18, 189);
}


.tuna{
  color: rgb(247, 18, 189);
  grid-row: 9/10;
  margin-bottom: auto;
}
.tuna-image{
  margin-left: auto;
  margin-right: auto;
  grid-row: 10/11;
  width: 85%;
  text-align: center;
}
.tuna-image img{
  max-width: 90%;
  max-height: 400px;
  align-items: center;
  border: 3px solid black;
}
.tuna-image img:hover{
  border: 3px solid rgb(247, 18, 189);
}

/*photos section*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.photos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 500px;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
}

#main-photos{
  margin-top: 85px;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../images/waves.jpg);
  color: rgb(247, 18, 189);
  text-shadow: 2px 2px #000000;
  height: 150px;
  width: 100%;
}
.photos > img{
  border: 10px;
  margin: 10px;
  width: 400px;
}

.photos img:hover{
  filter: grayscale(100%);
}

/*contact section*/
#main-contact{
  grid-column: 1/-1;
  grid-row: 1/span 1;
  margin-top: 85px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/bighouse.jpg);
  background-repeat: no-repeat;
  color:  rgb(247, 18, 189);
  text-shadow: 3px 3px #FFFFFF;
  height: 175px;
  width: 100%;
 
}

.thanks p{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.container-contact{
  border-radius: 5px;
}

#form{
  padding: 20px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  box-sizing: border-box; 
  border: rgb(247, 18, 189); 
  border-radius: 1px; 
  margin-top: 7px;
  margin-bottom: 16px; 
  resize: vertical;
  color: #000000;
}

input:focus{
  border: rgb(247, 18, 189);
  background-color: rgb(255, 209, 243);
}

input[type=submit]{
  background-color: rgb(153, 0, 115);
  padding: 12px 20px;
  color: white;
  text-shadow: 1px 1px #000000;
  border: #000000;
  border-radius: 1px;
}

input[type=submit]:hover{
  background-color: rgb(247, 18, 189);
}



/*For tablet screens*/
@media only screen and (min-width:768px) {
  nav{
    padding: 20px 20px;
  }


  nav ul{
    list-style-type: none;
    text-align: left;
}
nav li{
  display: inline-block;
  padding-left: 35px;
  font-size: 18px;
}

.Lauren{
  text-align: right;
  margin-top: -40px;
  padding-right: 35px;
  letter-spacing: .2em;

}

.Lauren p{
  transition: 3s ease-in;
  -webkit-transition: 3s ease-in;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 1px 1px rgb(247, 18, 189);
}
#main{
  margin-top: 20px;
  height: 200px;
}
#main-recipes{
  margin-top: 20px;
  height: 200px;
  background-position: 100% 100%;
}
footer{
  font-size: .8vw;
}
#linkedin{
  padding-right: 35px;
}
#resume{
  padding-left: 35px;
}
h2{
  font-size: 3.5vw;
  padding-bottom: 10px;
}
.brussel-sprouts-image{
  width: 80%;
}
.potatoes-image{
  width: 80%;
}
.eggplant-image{
  width: 80%;
}
.tuna-image{
  width: 80%;
}
.brussel-sprouts-image img{
  max-height: 500px;
  width: 70%;
}
.potatoes-image img{
  max-height: 500px;
  width: 70%;
}
.eggplant-image img{
  max-height: 500px;
  width: 70%;
}
.tuna-image img{
  max-height: 500px;
  width: 70%;
}
#main-photos{
  margin-top: 20px;
  height: 200px;
}
.photos img{
  max-width: 42%;
  height: 400px;
}
#main-contact{
  margin-top: 20px;
  height: 200px;
}
  
}



/*For large screens*/
@media only screen and (min-width:1020px) {
  .Lauren{
    text-align: right;
    margin-top: -40px;
    padding-right: 35px;
    letter-spacing: .2em;
  
  }
  .Lauren p{
    transition: 3s ease-in;
    -webkit-transition: 3s ease-in;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 1px 1px rgb(247, 18, 189);
  }

  footer{
    grid-column: 1/span 4;
  }
  footer p{
    font-size: 4vw;
  }
  #linkedin{
    font-size: 2.5vw;
    padding-right: 75px;
  }
  #facebook{
    font-size: 2.5vw;
  }
  #resume{
    font-size: 2.5vw;
    padding-left: 75px;
  }
  
  /*about section*/
  #main{
    margin-top: 20px;
    height: 300px;
    grid-column: 1 / span 3;
    grid-row: 1/3;
  }

  .container-index{
    display: grid;
    grid-template-columns: 350px 350px;
    width: 100%;
    align-content: center;
    justify-items: center;
  }

  .selfie{
    grid-column: 1 / span 2;
    grid-row: 3/4;
    padding: 20px 20px;
  }

  .info{
    grid-column: 3 / span 1;
    grid-row: 3/4;
    padding-right: 15%;
    padding-bottom: 10%;
    padding-top: 10%;
    font-size: 22px;
  }
  .selfie img{
    max-width: 500px;
    max-height: 500px;
  }

    /*recipes section*/

    .container-recipes{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto auto 100px;
      width: 100%;
    }

    #main-recipes{
      margin-top: 20px;
      height: 300px;
      grid-column: 1 / span 4;
      grid-row: 1/3;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
    }


    .brussel-sprouts{
      color: rgb(247, 18, 189);
      grid-column: 1/2;
      grid-row: 3/4;
      margin-bottom: auto;
      text-align: center;
    }
    .brussel-sprouts-image{
      margin-left: auto;
      margin-right: auto;
      grid-column: 1/2;
      grid-row: 4/5;
      width: 85%;
      text-align: center;
    }
    .brussel-sprouts-image img{
      width: 400px;
      height: 500px;
      align-items: center;
      border: 3px solid black;
    }

    
    
    
    .potatoes{
      color: rgb(247, 18, 189);
      grid-column: 2/3;
      grid-row: 3/4;
      margin-bottom: auto;
    }
    .potatoes-image{
      margin-left: auto;
      margin-right: auto;
      grid-column: 2/3;
      grid-row: 4/5;
      width: 85%;
      text-align: center;
    }
    .potatoes-image img{
      width: 400px;
      height: 500px;
      align-items: center;
      border: 3px solid black;
    }
    
    
    
    .eggplant{
      color: rgb(247, 18, 189);
      grid-row: 5/6;
      grid-column: 1/2;
      margin-bottom: auto;
    }
    .eggplant-image{
      margin-left: auto;
      margin-right: auto;
      grid-row: 6/7;
      grid-column: 1/2;
      width: 85%;
      text-align: center;
    }
    .eggplant-image img{
      width: 400px;
      height: 500px;
      align-items: center;
      border: 3px solid black;
    }
    
    
    .tuna{
      color: rgb(247, 18, 189);
      grid-row: 5/6;
      grid-column: 2/3;
      margin-bottom: auto;
    }
    .tuna-image{
      margin-left: auto;
      margin-right: auto;
      grid-row: 6/7;
      grid-column: 2/3;
      width: 85%;
      text-align: center;
    }
    .tuna-image img{
      width: 400px;
      height: 500px;
      align-items: center;
      border: 3px solid black;
    }

    /*photos section*/

    #main-photos{
      margin-top: 20px;
      height: 300px;
    }
    .photos img{
      max-width: 30%;
      height: 500px;
    }

  /*contact section*/
    #main-contact{
      margin-top: 20px;
      height: 300px;
    }


}



@media screen and (prefers-reduced-motion: reduce) {
  .Lauren p{
      transition: none;
  }

}
